In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("fifa_countries_audience.csv")

In [3]:
dataset

,country,confederation,population_share,tv_audience_share,gdp_weighted_share
0,United States,CONCACAF,4.5,4.3,11.3
1,Japan,AFC,1.9,4.9,9.1
2,China,AFC,19.5,14.8,7.3
3,Germany,UEFA,1.2,2.9,6.3
4,Brazil,CONMEBOL,2.8,7.1,5.4
...,...,...,...,...,...
186,Tonga,OFC,0.0,0.0,0.0
187,Liberia,CAF,0.1,0.0,0.0
188,Palau,OFC,0.0,0.0,0.0
189,Nauru,OFC,0.0,0.0,0.0
190,Niue,OFC,0.0,0.0,0.0

In [4]:
#finding datadtype of particular column
dataset.population_share.dtype

dtype('float64')

In [6]:
#getting datatype of every column
dataset.dtypes

country                object
confederation          object
population_share      float64
tv_audience_share     float64
gdp_weighted_share    float64
dtype: object

In [8]:
#changing the datatype of particular column
dataset.gdp_weighted_share.astype('int64')

0      11
1       9
2       7
3       6
4       5
       ..
186     0
187     0
188     0
189     0
190     0
Name: gdp_weighted_share, Length: 191, dtype: int64

In [9]:
#finding a null value
#this dataset doesnt have a null value 
dataset[pd.isnull(dataset.gdp_weighted_share)]

Empty DataFrame
Columns: [country, confederation, population_share, tv_audience_share, gdp_weighted_share]
Index: []

In [10]:
#fillna replace each Nan(not a number ) with unknown
dataset.gdp_weighted_share.fillna("Unknown")

0      11.3
1       9.1
2       7.3
3       6.3
4       5.4
       ...
186     0.0
187     0.0
188     0.0
189     0.0
190     0.0
Name: gdp_weighted_share, Length: 191, dtype: float64

In [11]:
#replace function 
dataset.country.replace("Japan", "India")

0      United States
1              India
2              China
3            Germany
4             Brazil
           ...
186            Tonga
187          Liberia
188            Palau
189            Nauru
190             Niue
Name: country, Length: 191, dtype: object